.container {
    background: linear-gradient(to right, rgba(158, 4, 153, 0.6), rgba(255, 192, 203, 0.5));
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    border:  1px solid rgba(147, 66, 224, 0.4);
    box-shadow: 0 6px 10px 0 rgb(99, 45, 150);
    
}

.form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
    
}
.input {
    padding-left: 8px;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    width: 200px;
    border:  1px solid rgba(147, 66, 224, 0.4);
    box-shadow: 0 6px 10px 0 rgb(99, 45, 150);
}
.input:focus {
    outline: 1px solid rgba(147, 66, 224, 0.5);
}
.button {
    border-radius: 10px;
    height: 20px;
    border: none;
    background-color:rgba(147, 66, 224, 0.5);
    font-size: 12px;
    color: white;
    width: 100px;
    border:  1px solid rgba(147, 66, 224, 0.4);
    box-shadow: 0 6px 10px 0 rgb(99, 45, 150);
}

.button:hover, .button:focus {
    color: rgb(147, 66, 224);
    background-color:rgba(147, 66, 224, 0.5);
    border:  1px solid rgba(147, 66, 224, 0.3);
    box-shadow: 0 8px 10px 0 rgba(99, 45, 150, 0.8);
    

}
